# 텍스트 파일은 자동으로 LF 변환
* text=auto eol=lf

# 바이너리 파일은 변환하지 않고 그대로 저장
*.jpg binary -text -eol
*.jpeg binary -text -eol
*.png binary -text -eol
*.gif binary -text -eol
*.mp4 binary -text -eol
*.zip binary -text -eol
*.ico binary -text -eol
*.pdf binary -text -eol
*.svg binary -text -eol
