.filter-bar {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr)) auto auto auto;
  gap: 10px;
  align-items: stretch;
}

.filter-bar .item-auto {
  display: grid;
  align-items: stretch;
}

.filter-bar .item-auto > * {
  height: 44px;
  width: 100%;
}

@media (max-width: 768px) {
  .filter-bar {
    grid-template-columns: 1fr;
  }
}
